/* .Nav{
    color: crimson;
    display: flex;
    -webkit-box-align: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex: 1 1 auto;
    padding-left: var(--space-10);
    padding-right: var(--space-10);
    background: var(--color-white);
    position: relative;
} */

.search-navbar {
    border: 0px;
    background: none;
    cursor: pointer;
    height: 40px;
    width: auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.nav-btn {
    border: 0px;
    background: none;
    cursor: pointer;
    /* font-weight:inherit; */
    font-weight: var(--font-semibold);
    font-size: var(--type-h5);
    /* font-size: h5; */
    line-height: 22px;
    letter-spacing: -0.24px;
    color: black;
    /* text-decoration: none; */
}

/* .pp-zain{
      color: coral
} */

.srt {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex: 1 1 auto;
    padding-left: var(--space-10);
    padding-right: var(--space-10);
    background: var(--color-white);
    height: 76px;
    width: auto;
    position: relative;
}

body {
    overflow-x: hidden;
}

/* Footer */

.footp {
    font-weight: bold 500;
    color: grey;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.64px;
}

.foot-p {
    /* font-weight: bold 500; */
    color: black;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.64px;
}

.foot-links {
    display: flex;
    background-color: #3a4cea;
    flex-direction: column;
    flex: 1;
    padding: 46px 30px 25px;
    overflow: hidden;
}

.foot-links h6 {
    margin-bottom: 40px;
}

.desktop-footer {
    display: flex;
    /* -webkit-box-align: center; */
    /* align-items: center; */
    /* justify-content: flex-start; */
    /* flex: 1 1 auto; */
    color: #999999;
    background-color: white;
    padding: 15px 44px;
    overflow: hidden
}

.footer-space {
    flex: '1 0 0 px'
}

.footer-location {
    color: #999999;
    font-size: 10px;
    margin-top: 8px;
}